
.home-content {
    width: 80%;
    padding: 5vh 5vw;
    display: grid;
    grid-template-rows: 1fr 9fr ;
}

.homebar-mid {
    overflow:visible
}

.show-btn {
    cursor: pointer;
    margin-left: 1rem;
}

.overview-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview-text h2 {
    margin: 0;
}